<div class="center hero-unit">
	<h1>Home Page 
		<%= link_to image_tag("logo.png",  width: 180, class: "img-circle pull-right", alt: "Rails"), '#' %>	
	</h1>
	<p>
		This is a simple home page from a RoR beginners project.
	</p>

	<%= link_to "Sign Up!", signup_path, class: "btn btn-large btn-danger" %>
</div>


<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>


<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37598370-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>